.mint-header {
	background-color: black;
	color: white;
	height: 44px;
	font-size: 18px;
}
.mint-header i{
	font-size: 20px;
}
.mint-header span{
	font-size: 15px;
	right: 20px;
	padding-top: 3px;
}
.mint-header a{
	font-size: 15px;
	right: 20px;
	padding-top: 3px;
	color: #fff;
}
