.share-box{
	position: fixed;
	bottom: 0;
	z-index: 8;
	width: 100%;
	padding: 10px 0;
	box-sizing: border-box;
	background-color: #fff;
}
.share-box p{
	height: 10px;
    color: #666;
    line-height: 10px;
    margin-bottom: 15px;
    padding: 0 15px;
    /*background-color: yellow;*/
}
.share-box .share-link{
	display: block;
	height: 90px;
	/*background-color: greenyellow;*/
}
.share-box .share-link .share-item{
	display: block;
	width: 33.3%;
	height: 90px;
	color: #666;
	float: left;
	text-align: center;
	/*background-color: deepskyblue;*/
	margin-right: 1px;
}
.share-item .share-icon{
	display: inline-block;
	/*background-color: red;*/
	
}
.share-item .share-icon a{
	display: block;
	width: 60px;
	height: 60px;
    text-align: center;
    line-height: 60px;
    border-radius: 50%;
	/*background-color: deepskyblue;*/
}
.share-item .share-icon i{
	font-size: 28px;
	color: #fff;
}
.share-item .share-to{
	display: block;
	margin-top: 10px;
	/*background-color: lime;*/
}



.detail-header{
	margin-top: 44px;
    padding: 15px 10px 14px;
    overflow: hidden;
	background: #fff;
	/*background-color: pink;*/
}
.detail-header h1{
	color: #000;
    font-size: 16px;
    line-height: 28px;
    font-weight: 700;
}
.detail-header .dt-intro{
	color: #aaa;
    font-size: 10px;
    padding-top: 5px;
    
}
.detail-header .dt-msg{
	color: #aaa;
    font-size: 10px;
    padding-top: 5px;
}

.detail-content{
	border-bottom: 1px solid #e6e6e6;
    overflow: hidden;
    background: #fff;
   /*background-color: palegreen;*/
}
.detail-content .dt-content{
	margin: 0 10px;
    overflow: hidden;
}
.detail-content .dt-content .dt-cp{
	line-height: 1.5em;
    letter-spacing: 0.5px;
}
.detail-content .dt-content .dt-cp .dt-cps{
	color: #595959;
}
.dt-img img{
	max-width: 100%;
	height: auto;
}
.dt-title{
	text-align: center;
	/*background-color: greenyellow;*/
}
.dt-title h3{
	color: #fff;
	width: 50%;
	margin: 0 auto;
	border-radius: 10px;
	padding: 8px;
	/*background-color: royalblue;*/
}

.detail-content .dt-content .dt-conbottom{
	color: rgb(127, 127, 127);
	font-size: 14px;
	text-align: center;
}

.detail-content .dt-collection{
	margin: 45px 0 29px;
    text-align: center;
    /*background-color: yellow;*/
}
.dt-collection span:nth-child(1){
	display: block;
	margin: 0 auto;
	width: 64px;
	line-height: 64px;
	border: 1px solid #ddd;
	border-radius: 50%;
	color: #ccc;
	/*background-color: red;*/
}
.dt-collection span:nth-child(1) i{
	font-size: 24px;
}
.dt-collection span:nth-child(2){
	display: block;
	margin-top: 12px;
	font-size: 14px;
	color: #666;
}
.dt-from{
	margin: 15px 10px 0;
	color: #666;
	padding-bottom: 25px;
	font-size: 14px;
}
.detail-comment{
	position: relative;
	overflow: hidden;
}
.detail-comment p{
	font-size: 16px;
    margin-top: 13px;
    color: #666;
    padding: 0 10px 13px;
}
.detail-comment .dt-ccp a{
	position: absolute;
	right: 10px;
	color: #2c72ac;
}
.dt-comment .dt-clist{
	overflow: hidden;
    padding: 0 10px;
	/*background-color: papayawhip;*/
}
.dt-comment .dt-citem{
	border-bottom: 1px solid #e6e6e6;
    padding: 15px 0 15px 36px;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    overflow: hidden;
}
.dt-comment .dt-citem>a{
	display: block;
	position: absolute;
	left: 0;
	width: 36px;
	height: 36px;
	border-radius: 18px;
	/*background-color: red;*/
}
.dt-comment .dt-citem>a span{
	display: block;
    width: 36px;
    height: 36px;
    border-radius: 36px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-color: #E7EAEE;
}
.dt-ccomment{
	position: relative;
    width: 100%;
	box-sizing: border-box;
    overflow: hidden;
    padding-left: 10px;
    /*background-color: greenyellow;*/
}
.dt-ccomment p:nth-of-type(1){
	display: block;
    font-size: 16px;
    padding-bottom: 6px;
    width: 100%;
    right: 0;
}
.dt-ccomment p a{
    color: #2c72ac;
}
.dt-ccomment p span{
	position: absolute;
	right: 0;
}
.dt-more{
	height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 16px;
    background: #f5f5f5;
    color: #999;
}


#tools{
	position: fixed;
	bottom: 90px;
	right: 10px;
	width: 90px;
	z-index: 7;
	background-color: #fff;
	box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
    border-radius: 5px;
}
.tools-contaniner .tools-img{
	width: 49px;
    height: 49px;
    margin: 15px auto 10px;
    /*background-color: yellow;*/
}
.tools-contaniner .tools-img img{
	box-sizing: border-box;
    border-radius: 12px;
    border: 1px solid #eee;
    width: 100%!important;
    height: 100%!important;
    display: inline-block;
}
.tools-contaniner  p{
	font-size: 11px;
	max-height: 50px;
	padding: 0 4px 0 6px;
    margin-bottom: 13px;
    color: #444;
    text-align: center;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    letter-spacing: 2px;
}
.tools-close{
	position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    /*background-color: greenyellow;*/
}
.tools-close i{
	display: block;
    width: 20px;
    height: 20px;
    background: url(../img/ad_close.png) no-repeat 100% 100%;
    transform: scale(0.5);
}
