
.mint-tabbar.is-fixed{
	/*top: 44px;*/
	bottom: auto;
	background-color: #fff;
}
.mint-tabbar > .mint-tab-item.is-selected{
	background-color: #fff;
	color: #2c72ac;
}
.mint-tabbar > .mint-tab-item.is-selected span{
	/*background-color: yellow;*/
	padding: 10px 0;
	border-bottom: 2px solid #2c72ac;
}
.mint-tab-item-label{
	/*background-color: #fff;*/
	font-size: 14px;
	padding: 5px;
}

.page-tabbar{
	margin-top: 44px;
}
.tabContain-list{
	overflow: hidden;
	padding-top: 40px;
}
/*.tabContain-list li{
	display: block;
	width: 185px;
	height: 185px;
	overflow: hidden;
	float: left;
	margin:0 1px 1px 0;
	background-color: #fff;
}
.tabContain-list li a{
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
	
}
.tabContain-list li a img{
	display: block;
	/*width: auto;
	height: 100%;
	/*margin-left: -60px;*/
	/*margin-top: auto;*/
	/*position: absolute;*/
	/*object-fit: cover;*/
	/*position: absolute;*/
	/*margin: 0 auto;
}*/



.tabContain-list li{
	display: block;
	width: 49%;
	height: auto;
	/*overflow: hidden;-*/
	float: left;
	background-color: #fff;
	margin: 0 0.5% 0.5% 0.5%;
}
.tabContain-list li a{
	display: block;
	/*width: 100%;*/
	padding-bottom: 100%;
	position: relative;
	overflow: hidden;
}
.tabContain-list li a img{
	width: auto;
	height: 100%;
	position: absolute;
}
.tabContain-list li a span{
	display: block;
	/*background-color: yellow;*/
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 5px 0 10px;
	overflow: hidden;
	color: #fff;
}
.tabContain-list li a span i{
	display: block;
	width: 20px;
	height: 20px;
	background-color: transparent; 
	margin: 0 5px 0 10px;
	float: left;
	overflow: hidden;
	position: relative;
}
.tabContain-list li a span i img{
	display: block;
	width: 100%;
	border-radius: 50%;
}

